@import "@/styles/common.scss";

.reserveTapContainer {
    margin: 1rem 0;
    @include flex($flexDirection: row, $alignItems: center, $justifyContent: space-between);
}

.dateInfo {
    @include flex($flexDirection: row, $alignItems: center, $justifyContent: space-between);

    .alert {
        @include flex($flexDirection: column, $alignItems: center, $justifyContent: center);
        margin-right: 1rem;
        width: 50px;

        .time {
            filter: invert(17%) sepia(7%) saturate(117%) hue-rotate(202deg) brightness(90%) contrast(88%);
        }

        .bell {
            filter: invert(35%) sepia(59%) saturate(1725%) hue-rotate(195deg) brightness(88%) contrast(96%);
        }
    }

    div {
        @include flex($flexDirection: column, $alignItems: flex-start, $justifyContent: space-between);

        span {
            padding: 0.3rem;
        }
    }

    .waitTime {
        @include flex($flexDirection: row, $alignItems: center, $justifyContent: flex-start);
        flex-wrap: wrap;
        width: 100%;
    }
}

.trash {
    padding: 0.5rem;
    border-radius: 6px;
    background-color: var(--warning-surface1);
    box-shadow: 0 2px 2px 1px rgb(0 0 0 / 6%), 0 1px 1px 0 rgb(0 0 0 / 10%), 0 1px 0 0 rgb(0 0 0 / 14%);
}
