@charset "utf-8";

/* @import url(//fonts.googleapis.com/earlyaccess/notosanskr.css); */

/* Color */
:root {
  --white: #ffffff;
  --black: #000000;
  --grey1: #f5f5f5;
  --grey2: #f0f0ef;
  --grey3: #ebebeb;
  --grey4: #e0e0e0;
  --grey5: #d4d4d1;
  --grey6: #a8aaaa;
  --grey7: #494c4f;
  --grey8: #323233;
  --grey9: #0a0a0a;
  --primary: #115b40;
  --primary-action: #148564;
  --secondary: #fcdb39;
  --shade1: #e1eae7;
  --shade2: #627870;
  --warning-text: #e02f2f;
  --warning-surface1: #ff5353;
  --warning-surface2: #af162d;
  --warning-shade: #ffefef;
  --link: #216ad7;
}

/* reset */
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, Roboto, 'Noto Sans KR', 'Apple SD Gothic Neo',
    'Malgun Gothic', 'BaseLine', Tahoma, Dotum, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;

  &:before,
  &:after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
  }

  -webkit-touch-callout: none;

  /* 이미지 길게 터치 방지 */

  -webkit-tap-highlight-color: transparent;

  /* a 클릭시 배경색 제거 */
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button,
address,
em,
img,
small,
strong,
sub,
sup,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
hr,
blockquote,
input {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
}

html,
body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button,
address,
em,
small,
strong,
sub,
sup,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
article,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
hr,
blockquote,
input,
textarea,
select {
  font-family: -apple-system, Roboto, 'Noto Sans KR', 'Apple SD Gothic Neo',
    'Malgun Gothic', 'BaseLine', Tahoma, Dotum, sans-serif, Gulim, '굴림',
    sans-serif;
}

:-webkit-input-placeholder,
:-ms-placeholder,
:-moz-placeholder,
::placeholder {
  font-family: -apple-system, Roboto, 'Noto Sans KR', 'Apple SD Gothic Neo',
    'Malgun Gothic', 'BaseLine', Tahoma, Dotum, sans-serif, Gulim, '굴림',
    sans-serif;
  font-size: 16px;
}

address,
article,
aside,
canvas,
details,
figure,
figcaption,
footer,
header,
menu,
nav,
section {
  display: block;
  margin: 0;
  padding: 0;
}

em,
i {
  font-style: normal;
}

h1,
h2,
h3 {
  font-weight: 300;
  margin: 0;
  padding: 0;
}

strong {
  font-weight: normal;
}

ul,
ol,
li {
  list-style: none;
}

html,
body,
article,
div,
section,
header,
main,
aside,
footer,
p,
ul,
ol,
li,
dl,
dt,
dd,
table,
th,
td {
  margin: 0;
  padding: 0;
  line-height: 1;
  box-sizing: border-box;
  font-weight: 300;
}

p,
strong,
li {
  line-height: 1.3;
}

input,
select,
button {
  border: 0;
  background: transparent;
}

input,
select {
  appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
}

input {
  &::-webkit-input-placeholder,
  &:-ms-input-placeholder {
    color: #767676;
  }

  &::-moz-placeholder,
  &:-moz-placeholder {
    color: #767676;
    opacity: 1;
  }
}

button {
  margin: 0;
  padding: 0;
  line-height: 1;
  cursor: pointer;
}

fieldset,
figure,
blockquote {
  margin: 0;
  padding: 0;
  border: 0;
}

cite {
  font-style: normal;
}

header {
  position: relative;
}

a {
  text-decoration: none;
  color: inherit;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;

  caption {
    position: static;
    margin: 0;
    padding: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    word-break: initial;
    word-wrap: initial;
  }
}

img {
  border: 0;
}

button,
html [type='button'],
input[type='submit'] {
  -webkit-appearance: none;
}

/* -- Reset End -- */

/* CSS Document */

* {
  -webkit-touch-callout: none;

  /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;

  /* prevent webkit from resizing text to fit */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  /* prevent tap highlight color / shadow */
  -webkit-user-select: none;

  /* prevent copy paste, to allow, change 'none' to 'text' */

  -webkit-touch-callout: none;

  /* 이미지 길게 터치 방지 */
  -webkit-tap-highlight-color: transparent;

  /* a 클릭시 배경색 제거 */
}

/* 하위버전을 위한 리셋 */

header,
footer,
section,
article,
aside,
nav,
hgroup,
details,
menu,
figure,
figcaption,
summary,
canvas {
  display: block;
}

html {
  height: 100%;
  font-family: -apple-system, Roboto, 'Noto Sans KR', 'Apple SD Gothic Neo',
    'Malgun Gothic', 'BaseLine', Tahoma, Dotum, sans-serif, Gulim, '굴림',
    sans-serif;
  font-size: 16px;
  font-size: 1rem;
}

body,
#__next {
  margin: 0px;
  padding: 0px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  letter-spacing: 0;
  color: #323233;
  font-family: SFPro;
}

div,
p,
ol,
ul,
li,
img,
a,
h1,
h2,
h3,
h4,
h5,
h6,
form,
span,
iframe,
dl,
dt,
dd {
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #323233;
}

table,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  border-spacing: 0;
  border-collapse: collapse;
}

img {
  border: 0px;
  vertical-align: middle;
}

form,
fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

textarea {
  resize: none;
  width: auto;
}

input,
button,
textarea,
select {
  font-family: SFPro;
  font-size: 16px;
  border-radius: 0;
  border: none;
  background: 0 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  text-decoration: none;
  cursor: pointer;
  -webkit-text-size-adjust: none;
}

input,
button {
  outline: none;
  -webkit-appearance: none;
}

input[type='radio'] {
  padding: 0;
  vertical-align: middle;
}

select::-ms-expand {
  display: none;
}

a,
button,
input,
select,
textarea {
  font-family: -apple-system, Roboto, 'Noto Sans KR', 'Apple SD Gothic Neo',
    'Malgun Gothic', 'BaseLine', Tahoma, Dotum, sans-serif, Gulim, '굴림',
    sans-serif;
  font-weight: 300;
}

input {
  &::-webkit-input-placeholder,
  &:-ms-input-placeholder,
  &:-moz-placeholder,
  &::-moz-placeholder {
    font-family: -apple-system, Roboto, 'Noto Sans KR', 'Apple SD Gothic Neo',
      'Malgun Gothic', 'BaseLine', Tahoma, Dotum, sans-serif, Gulim, '굴림',
      sans-serif;
  }
}

em {
  font-style: normal;
}

/* Common */

.blind,
legend {
  display: block;
  overflow: hidden;
  position: absolute;
  top: -1000em;
  left: 0;
}

:root legend {
  margin-top: -1px;
  font-size: 0;
  line-height: 0;
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}

.ir {
  display: block;
  overflow: hidden;
  position: relative;
  z-index: -1;
  height: 11px;
  font-size: 11px;
  white-space: nowrap;
}

.hidden {
  position: absolute;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
}

.none,
caption,
legend {
  display: none;
}

/* default */

.fl {
  float: left;
}

.fr {
  float: right;
}

.cboth {
  display: block;
  content: '';
  clear: both;
}

.underline {
  text-decoration: underline;
}

.inblk {
  display: inline-block;
}

.vgt {
  vertical-align: top;
}

.vgm {
  vertical-align: middle;
}

.ovh {
  overflow: hidden;
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  src: url(/teezzim/fonts/NotoSansKr/NotoSansKR-Regular.woff2) format('woff2'),
    url(/teezzim/fonts/NotoSansKr/NotoSansKR-Regular.woff) format('woff'),
    url(/teezzim/fonts/NotoSansKr/NotoSansKR-Regular.otf) format('opentype');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  src: url(/teezzim/fonts/NotoSansKr/NotoSansKR-Medium.woff2) format('woff2'),
    url(/teezzim/fonts/NotoSansKr/NotoSansKR-Medium.woff) format('woff'),
    url(/teezzim/fonts/NotoSansKr/NotoSansKR-Medium.otf) format('opentype');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 600;
  src: url(/teezzim/fonts/NotoSansKr/NotoSansKR-Bold.woff2) format('woff2'),
    url(/teezzim/fonts/NotoSansKr/NotoSansKR-Bold.woff) format('woff'),
    url(/teezzim/fonts/NotoSansKr/NotoSansKR-Bold.otf) format('opentype');
}

/*나눔 고딕 글꼴*/
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 400;
  src: url('/teezzim/fonts/NanumGothic/NanumGothic-Regular.eot');
  src: url('/teezzim/fonts/NanumGothic/NanumGothic-Regular.eot?#iefix')
      format('embedded-opentype'),
    url('/teezzim/fonts/NanumGothic/NanumGothic-Regular.woff2') format('woff2'),
    url('/teezzim/fonts/NanumGothic/NanumGothic-Regular.woff') format('woff'),
    url('/teezzim/fonts/NanumGothic/NanumGothic-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 700;
  src: url('/teezzim/fonts/NanumGothic/NanumGothic-Bold.eot');
  src: url('/teezzim/fonts/NanumGothic/NanumGothic-Bold.eot?#iefix')
      format('embedded-opentype'),
    url('/teezzim/fonts/NanumGothic/NanumGothic-Bold.woff2') format('woff2'),
    url('/teezzim/fonts/NanumGothic/NanumGothic-Bold.woff') format('woff'),
    url('/teezzim/fonts/NanumGothic/NanumGothic-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 800;
  src: url('/teezzim/fonts/NanumGothic/NanumGothic-ExtraBold.eot');
  src: url('/teezzim/fonts/NanumGothic/NanumGothic-ExtraBold.eot?#iefix')
      format('embedded-opentype'),
    url('/teezzim/fonts/NanumGothic/NanumGothic-ExtraBold.woff2')
      format('woff2'),
    url('/teezzim/fonts/NanumGothic/NanumGothic-ExtraBold.woff') format('woff'),
    url('/teezzim/fonts/NanumGothic/NanumGothic-ExtraBold.ttf')
      format('truetype');
}

/*
font

/* Noto Sans KR (korean) http://www.google.com/fonts/earlyaccess */
// @font-face {
//   font-family: 'Noto Sans KR';
//   font-style: normal;
//   font-weight: 400;
//   src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2)
//       format('woff2'),
//     url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff)
//       format('woff'),
//     url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf)
//       format('opentype');
// }
// @font-face {
//   font-family: 'Noto Sans KR';
//   font-style: normal;
//   font-weight: 500;
//   src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2)
//       format('woff2'),
//     url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff)
//       format('woff'),
//     url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf)
//       format('opentype');
// }
// @font-face {
//   font-family: 'Noto Sans KR';
//   font-style: normal;
//   font-weight: 700;
//   src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2)
//       format('woff2'),
//     url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff)
//       format('woff'),
//     url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf)
//       format('opentype');
// }

/* iOS 11.0 버전
constant(safe-area-inset-top)
constant(safe-area-inset-right)
constant(safe-area-inset-bottom)
constant(safe-area-inset-left)
// iOS 11.2 이상
env(safe-area-inset-top)
env(safe-area-inset-right)
env(safe-area-inset-bottom)
env(safe-area-inset-left)
*/
