@import "./common.scss";

.topNav {
    @include flex($flexDirection: row, $alignItems: center, $justifyContent: space-between);

    // position: absolute;
    // top: 0;
    // right: 0;
    height: 65px;
    width: 100%;
    padding: 0 1rem;
    background-color: var(--white);
    z-index: 100; 

    .centerMenuWrap {
        font-family: Spoqa Han Sans Neo;
    }

    .centerBgWhite {
        border-radius:16px;
        height:32px;
        width: 200px;
        margin:0 auto;
        display: flex;
        grid-gap: 5px;
    }
    .centerMenu {flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin: 1rem 0 1rem -1rem;
        background: #fff;
        // border-bottom: 2px solid rgba(120, 128, 128, 0.16);
    
        h1 {
            margin: 0;
            padding: 0 44px;
            font-size: 20px;
            font-weight: 500;
            line-height: 44px;
            letter-spacing: normal;
            text-align: center;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            font-family: Spoqa Han Sans Neo;
        }
    
        button {
            display:inline-block;
            width: 30%;
            // height: 16px;
            padding:8px 0px;
            text-align: center;
            border-radius:16px;
            color:#515151; 
            letter-spacing: 0.5px;
            line-height: 1;
            font-size: 16px; 
            background-color: #ebebeb;
        }
    }
}

.reserveWrap {
    overflow: scroll;
}

.sideBtn {
    margin: 0.5rem 0;
    background-color: var(--white);
    border: 1px solid var(--white);
    box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.06), 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 1px 0 0 rgba(0, 0, 0, 0.14);
    border-radius: 50%; 
    width: 36px; 
    height: 36px;
}

.sideBtnCom {
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center; 
    box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.06), 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 1px 0 0 rgba(0, 0, 0, 0.14);
    text-align: center; 
    line-height: 32px;
    font-size: 16px;
    border-radius: 20px;
    padding: 3px 7px;
}

.reserveTitle {
    @include flex($flexDirection: row, $alignItems: center, $justifyContent: space-between);
    margin: 0 1rem;
    padding-top: 1rem;
    font-size: 20px;
    font-weight: 500;
    color: var(--primary);
}

.marginB {
    height: 95px;
}

.reserveState {
    @include flex($flexDirection: row, $alignItems: center, $justifyContent: flex-start);
    height: 37px;
    background-color: var(--primary);
    padding: 11px;
    p {
        font-size: 14px;
        line-height: 1.36;
        line-height: 19px;
        letter-spacing: 0.25px;
        font-weight: 400;
        color: #ffffff;
    }
}

.reserveContainer {
    padding: 0 0.5rem;

    p {
        margin: 1rem 0;
    }
}

.ruleContainer {
    margin: 0 1rem;
    padding-top: 2rem;

    h4 {
        margin-bottom: 0.5rem;
    }

    ul {
        li:before {
            content: "·";
            font-weight: bold;
            margin-right: 0.3rem;
        }

        li {
            margin-bottom: 0.5rem;
            word-break: keep-all;
        }

        li:first-child {
            color: var(--warning-surface2);
        }

        li:nth-child(2) {
            color: var(--warning-surface2);
        }

        li:last-child {
            color: var(--link);
        }
    }
}

.btnContainer {
    margin: 30px 0 125px;
    text-align: center;

    button {
        width: 90vw;
        height: 70px;
        padding: 0.5rem 0;
        border-radius: 15px;
        color: var(--neutrals-white);
        background-color: var(--warning-surface-1);
        box-shadow: 0 2px 2px 1px rgb(0 0 0 / 6%), 0 1px 1px 0 rgb(0 0 0 / 10%);
    }
}
