@import "@/styles/common.scss";

.reserveDetailContainer {
    padding: 1rem;
    margin: 24px 20px 8px;
    border: 1px solid var(--secondary);
    background-color: var(--white);

    .reserveInfo {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
        margin-bottom: 1rem;
    }

    div:last-child {
        margin-bottom: 0;
    }
}

.divider {
    border-bottom: 2px solid var(--grey3);
    margin: 1rem 0;
}
